* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #ff512f, #dd2476, #24c6dc);
    background-size: 300% 300%;
    animation: gradientMove 8s infinite alternate ease-in-out;
}

@keyframes gradientMove {
    from { background-position: left; }
    to { background-position: right; }
}

.container {
    background: rgba(255, 255, 255, 0.2);
    padding: 40px;
    width: 90%;
    max-width: 400px;
    border-radius: 20px;
    text-align: center;
    backdrop-filter: blur(12px);
    box-shadow: 0px 8px 25px rgba(0,0,0,0.2);
}

h1 {
    margin-bottom: 20px;
    color: white;
    font-size: 30px;
}

.timer {
    font-size: 55px;
    color: #ffffff;
    font-weight: 700;
    margin: 25px 0;
    letter-spacing: 2px;
    text-shadow: 0 0 12px rgba(255,255,255,0.8);
}

.buttons button {
    padding: 10px 25px;
    margin: 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    color: white;
    transition: 0.3s;
    font-weight: 600;
}

#start { background: #28a745; box-shadow: 0 4px 10px rgba(40,167,69,0.4); }
#stop { background: #dc3545; box-shadow: 0 4px 10px rgba(220,53,69,0.4); }
#reset { background: #007bff; box-shadow: 0 4px 10px rgba(0,123,255,0.4); }

.buttons button:hover {
    transform: translateY(-3px);
    opacity: 0.9;
}
